:root{

    /*COLORS*/
    --brand-color: #9BF00B;
    --dark-10: #0c0c0c;
    --dark-20: #777777;
    --dark-30: #c0c0c0;
    --dark-40: #ffffff;

    /*FONTS*/
    --primary-font: 'Inter', sans-serif;
}